/*Navigation bar*/
.navbar{
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-inverse{
    backgroud:#2c3e50;
}

.navbar-inverse .navbar-nav>li>a{
    color:white;
}

.navbar-inverse .navbar-brand{
    color:white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail{
    background: #3284BF;
}
/*************************************************************/
/*Body*/
body{ 
    padding: 4em;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    color: #2E2E2E;
}

.about{
    background: #FFFFFF;
}

.hotdog{
    background: url(https://media3.giphy.com/media/3og0Izv3p7vMprq2Qw/giphy.gif) 
    #000000 no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
} 
.notHotDog{
    /*Desktop*/
    background: url(https://source.unsplash.com/uvMYpVdiqlU) 
    #2E2E2E no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    color: #FFFFFF;

    /*Mobile*/
    @media only screen and (max-width: 599px) { 
        background: url(https://source.unsplash.com/lpjb_UMOyx8)
    }
} 
/*************************************************************/

#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
h1{
    font-weight: 700;
    font-size: 5em;
}

h2{
    font-weight: bold;
    border-bottom: .05em solid #d4d4d4;
}

h3{
    font-weight: 700;
    font-size: 3em;
}

img {
    width: 10em; /* you can use % */
    height: auto;
}

.fa {
   font-size: 1.5em; 
}

a{
    color: #FFFFFF;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);    
}